@model IEnumerable<Kutse_App.Models.Guest>

@{
    ViewBag.Title = "Accept";
}

<h2>Tulevad</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Phone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WillAttend)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Phone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WillAttend)
        </td>
        <td>
            @Html.ActionLink("Kustutama", "Delete", new { id=item.Id })
        </td>
    </tr>
}



</table>
<div>
    @Html.ActionLink("Tagasi nimekirja", "Guests", null, new { @class = "btn btn-primary" })
</div>